/* styles.css */
/* styles.css */


.mainblock{
    font-family: Arial, sans-serif;
    background-color: rgb(62, 143, 215);
}

.kk{
    background-color: rgb(88, 141, 172);
}


.font{
    font-family: 'Bitter', sans-serif;
    color: aliceblue;
    font-weight:bolder
}

.font1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(7, 62, 94);
}

.font2{
color:aliceblue
}
.img{
    border-radius: 26%;
}
.font3{
    color: rgb(235, 94, 94);
}
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}







.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;	
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
